{% extends 'base.html' %}
{% block title%}
    Quick Used Auto Parts in USA - From Salvage & Junkyard, Online | QUAP
{% endblock title %}
{% block desc %}
    <meta name="description" content="QUAP delivers millions of used auto parts and accessories for cars and trucks in USA. We offer affordable used auto parts in USA starting at $100.">
{% endblock desc%}
{% block main %}
{% load static %}
<!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2 style="color: #ffc400;font-size: 72px;">404</h2>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

<div class="main-wrapper" style="margin-bottom:50px;">
    <div class="featured-categories_area">
            <div class="container">
                <div class="section-title_area">
                    <h2 style="font-size: 40px;color: #0c2a5c;">Oops ! Page Not Found</h2>
                    <br>
                    <h4 style="color: #e52e06;">The page does not exist or might have been moved or deleted.</h4>
                    <br>
                    <a href="/" style="padding: 20px;background: #ffc400;text-decoration: none;border-radius: 10px;color: black;font-size: 20px;">Home Page</a>
                </div>
            </div>
        </div>
</div>




{% endblock %}