{% extends 'base.html' %}
{% block title%}
    Quick Used Auto Parts in USA - From Salvage & Junkyard, Online | QUAP
{% endblock title %}
{% block desc %}
    <meta name="description" content="QUAP delivers millions of used auto parts and accessories for cars and trucks in USA. We offer affordable used auto parts in USA starting at $100.">
{% endblock desc%}
{% block main %}
{% load static %}
<!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>About Us</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

<div class="main-wrapper" style="margin-bottom:50px;">
    <div class="featured-categories_area">
            <div class="container">
                <div class="section-title_area">
                    <h1 style="font-size: 24px;color: #e52e06;">Welcome to Quick Used Auto Parts</h1>
                    <h1 class="main_h1">Buy Used Auto Parts in USA Online</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p style="text-align:justify;">Quick Used Auto Part (QUAP) is a one-stop destination for used car parts in USA. It is our aim to provide access to people who wish to avail used auto parts online. Yes, we are committed to connect millions of people to auto salvage yards all over the US and provide them access to the extensive array of available salvage auto parts in USA.
                            <br>
                            Using salvage auto parts in USA is an affordable and environmentally friendly step towards ensuring your car gives a satisfactory performance. Quick Used Auto Part (QUAP) promises genuine used auto parts with an assurance of efficient and long lasting performance.
                            <br><br>
                            We appreciate your decision to use salvaged auto parts as they are highly affordable but also deliver as per the expected performance. Browse through the intuitive interface of Quick Used Auto Part (QUAP) to search for the used auto parts online. Also, you can always approach us with a special requirement by connecting with us directly.  Moreover, our customer support and service is always available 24x7x365 days of the year.
                            <br><br>
                            If you are able to successfully locate the used auto car part then, all you have to do is order the used auto part online, and get it delivered at your doorstep.
                        </p>
                        <p>Here’s why Quick Used Auto Part is reliable than most of the used auto part dealers online - </p>
                        <div class="row about_category">
                            <div class="col-lg-6">
                                <center>
                                    <i class="fas fa-handshake"></i>
                                    <h5>1. Genuine Used Auto Parts:</h5>
                                </center>
                                <p>We only sell certified used auto parts.  Our used auto parts undergo extensive testing and rigorous quality check. We only sell those used auto parts that have passed our mandatory testing. Unlike many companies or wrecking yards might say they give you certified OEM parts and hence they may be either faulty or average in use.</p>
                            </div>
                            <div class="col-lg-6" style="background: #d3d3d324;border: 5px solid white;">
                                <center>
                                    <i class="fa fa-truck fas"></i>
                                    <h5>4. Delivery available all over the US</h5>
                                </center>
                                <p>QUAP offers the same services to people living in remote areas, as well as in urban areas. Yes, we deliver all over the US. Our priority is to source parts, available near you, so we can deliver them quickly. In case the part is not available in your vicinity, we have a wide network of salvage yards at our fingertips</p>
                            </div>
                            <div class="col-lg-6" style="background: #d3d3d324;border: 5px solid white;">
                                <center>
                                    <i class="fas fa-headphones-alt"></i>
                                    <h5>2. Technical & Expert Help</h5>
                                </center>
                                 <p>Our experts all always available to assist you with all your issues related to used auto parts. Ring us on our toll-free number, 1-833-583-2590, and get answers to all your questions.</p>
                            </div>
                            <div class="col-lg-6" style="background: #d3d3d324;border: 5px solid white;">
                                <center>
                                    <i class="fas fa-hand-holding-usd"></i>
                                    <h5>3. 90- Day Warranty</h5>
                                </center>
                                <p>Find used auto parts online at QUAP with THE best warranty and return policy. You can return or exchange a part within 90 days of delivery</p>
                            </div>
                        </div>
                        <div style="margin-top: 50px;">
                            <center><h5>QUAP | Our Belief System:</h5></center>
                            <p style="text-align: justify;font-style: italic;padding: 20px 10px;line-height: 38px;">At QUAP, our central value system revolves around transparency and sustainability.

                                We are proud to say all our dealings are 100% honest. We deliver what we promise.

                                This reflects on our prices and discounts too.

                                Environmental sustainability is a value we hold very close to our hearts. The future of the automobile industry lies in being sustainable. By reusing and refurbishing, we reduce tons of wastage.
                            </p>
                            <center><a href="/used-auto-parts-us"><h3 style="font-size: 20px;color: #e52e06;letter-spacing: 1px;text-shadow: 2px 3px 10px #8d8d8d;">Order your used auto parts for your cars, trucks, sedans, and SUVs, TODAY!</h3></a></center>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>




{% endblock %}