{% extends 'base.html' %}

{% block title%}
Used Auto Parts in {{city}}, {{state}}- From Salvage & Junkyard| QUAP
{% endblock title %}

{% block desc %}
    <meta name="description" content="QUAP brings you quality used auto parts in {{city}}, {{state}}. We bring you both certified salvage yard parts and expert assistance in all areas of {{city}}">
{% endblock desc%}

{% block main %}
{% load static %}

    <div class="main-wrapper">
        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Shop</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/states">All States</a></li>
                        <li class="active"><a href="/used-auto-parts/{{state|slugify}}">{{state}}</a></li>
                        <li class="active">{{city}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="margin:50px 10px">
            <h1 class="main_h1 text-center" style="padding: 0px 10px;">Used Auto Parts in {{city}}, {{state}}</h1>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <div class="container">
            <div class="row">
                <div style="padding: 0px 20px;text-align: justify;">
                    <p>{{city_details.content_sentence_1}}</p>
                    <p>{{city_details.content_sentence_2}}</p>
                    <p>{{city_details.content_sentence_3}}</p>
                    <p>{{city_details.content_sentence_4}}</p>
                </div>
            </div>
        </div>
        <!-- Begin Uren's Banner Area -->
        <div class="uren-banner_area" style="padding-top:10px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img-1"></div>
                            <div class="banner-content">
                                <span class="offer">AFFORDABLE USED AUTO PARTS AT YOUR DOORSTEP</span>
                                <h4>DRIVETRAIN PARTS</h4>
                                <h3>MECHANICAL CAR PARTS</h3>
                                <p>Quality Used Engine & Transmission Parts sold as complete assemblies</p>
                                <div class="uren-btn-ps_left">
                                    <a class="uren-btn" href="/used-auto-parts-us">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-item img-hover_effect">
                            <div class="banner-img-1 banner-img-2"> </div>
                            <div class="banner-content">
                                <span class="offer">BECOME ECO-FRIENDLY</span>
                                <h4>AUTO BODY PARTS</h4>
                                <h3>ELECTRICAL CAR PARTS</h3>
                                <p>Quality Used Auto Body Parts that make your car look road-worthy</p>
                                <div class="uren-btn-ps_left">
                                    <a class="uren-btn" href="/used-auto-parts-us">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Banner Area End Here -->
        <!-- Begin Uren's Shop Left Sidebar Area -->
        <div class="shop-content_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
                        <div class="uren-sidebar-catagories_area">
                            <div class="uren-sidebar_categories">
                                <div class="uren-categories_title">
                                    <h5>Manufacturers</h5>
                                </div>
                                <ul class="sidebar-checkbox_list">
                                    {% for brand in brands %}
                                    <li><a href="#">{{brand.brand_name}}<span></span></a></li>
                                    {% endfor %}
                                </ul>
                                <div style="padding: 10px;">
                                    <p><a href="" style="color:Red;float:right">View All Brands</a></p>
                                </div>
                            </div>

                            <div class="uren-sidebar_categories">
                                <div class="uren-categories_title">
                                    <h5>Popular Car Parts</h5>
                                </div>
                                <ul class="sidebar-checkbox_list">
                                    {% for p in side_products %}
                                    <li><a href="#">{{p.product_name}}<span></span></a></li>
                                    {% endfor %}
                                </ul>
                                <div style="padding: 10px;">
                                    <p><a href="" style="color:Red;float:right">View All Products</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                        <div class="shop-toolbar">
                            <div class="product-view-mode">
                                <a class="grid-1" data-target="gridview-1" data-toggle="tooltip" data-placement="top" title="1">1</a>
                                <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top" title="2">2</a>
                                <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="3">3</a>
                                <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top" title="4">4</a>
                                <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top" title="5">5</a>
                            </div>
                        </div>
                        <div class="shop-product-wrap grid gridview-3 img-hover-effect_area row">
                            {% for p in products %}
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="/used-auto-parts-us/{{p.product_name|slugify}}">
                                                    <img class="primary-img" src="{{p.product_image.url}}" alt="Uren's Product Image" style="width: 100%; height: 200px">
                                                    <img class="secondary-img" src="{{p.product_image.url}}" alt="Uren's Product Image" style="width: 100%; height: 200px">
                                                </a>
                                                <div class="sticker">
                                                    <span class="sticker">New</span>
                                                </div>
                                                <div class="add-actions">
                                                    <a href="/used-auto-parts-us/{{p.product_name|slugify}}" style="background: #e52e06;padding: 5px 10px;color: #fafbfd;">Get Quote</a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <h6><a class="product-name" href="/used-auto-parts-us/{{p.product_name|slugify}}">{{p.product_name}}</a></h6>
                                                    <div class="price-box">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Uren's Shop Left Sidebar Area End Here -->
        <div class="frequently-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="frequently-content">
                            <div class="frequently-desc">
                                <h3>Find frequently asked questions here</h3>
                                <p style="font-size: 17px">Contact us anytime through our toll free number, <span style="font-size: 16px;color: black">1-833-583-2590.</span></p>
                            </div>
                        </div>
                        <!-- Begin Frequently Accordin -->
                        <div class="frequently-accordion">
                            <div id="accordion">
                                <div class="card actives">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{city_details.faq_q_1}}
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                           {{city_details.faq_ans_1}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                {{city_details.faq_q_2}}
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            {{city_details.faq_ans_2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                {{city_details.faq_q_3}}
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                           {{city_details.faq_ans_3}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Frequently Accordin End Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>


  {% endblock %}