{% extends 'base.html' %}
{% block main %}
{% load static %}

    <div class="main-wrapper">
        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Shop</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Products</li>
                        <li class="active">{{state}}</li>
                        <li class="active">{{city}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="margin-top:50px">
            <h1 class="main_h1 text-center">Used Auto Parts in {{city}}, {{state}}</h1>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <div class="container" style="margin-top:5%">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <div>
                        <img src="{{city_details.img.url}}" alt="" style="height: 300px">
                    </div>
                </div>

                <div class="col-lg-5">
                    <div>
                        <p style="font-size: 18px;color: #0c2a5c;text-align: justify;">{{city_details.content}}</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- Begin Uren's Shop Left Sidebar Area -->
        <div class="shop-content_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
                        <div class="uren-sidebar-catagories_area">

                            <div class="uren-sidebar_categories">
                                <div class="uren-categories_title">
                                    <h5>Popular Car Parts</h5>
                                </div>
                                <ul class="sidebar-checkbox_list">
                                    {% for p in side_products %}
                                    <li><a href="#">{{p.product_name}}<span></span></a></li>
                                    {% endfor %}
                                </ul>
                                <div>
                                    <p><a href="" style="color:Red;float:right">View All Products</a></p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                        <div class="section-title_area">
                            <h2 class="main_h1">Popular Used Car Parts in {{city}}, {{state}}</h2>
                        </div>
                        <div class="shop-toolbar">
                            <div class="product-view-mode">
                                <a class="grid-1" data-target="gridview-1" data-toggle="tooltip" data-placement="top" title="1">1</a>
                                <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top" title="2">2</a>
                                <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="3">3</a>
                                <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top" title="4">4</a>
                                <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top" title="5">5</a>
                            </div>
                        </div>
                        <div class="shop-product-wrap grid gridview-3 img-hover-effect_area row">

                            {% for p in products %}

                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="/order-part-now/{{p.product_name}}">
                                                    <img class="primary-img" src="{{p.product_image.url}}" alt="Uren's Product Image" style="width: 100%; height: 200px">
                                                    <img class="secondary-img" src="{{p.product_image.url}}" alt="Uren's Product Image" style="width: 100%; height: 200px">
                                                </a>
                                                <div class="sticker">
                                                    <span class="sticker">New</span>
                                                </div>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="uren-add_cart" href="/order-part-now/{{p.product_name}}" data-toggle="tooltip" data-placement="top" title="Get a Quote"><i
                                                            class="ion-bag"></i></a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <h6><a class="product-name" href="/order-part-now/{{p.product_name}}">{{p.product_name}}</a></h6>
                                                    <div class="price-box">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            {% endfor %}


                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="uren-paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="uren-pagination-box primary-color">
                                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                                <li><a href="javascript:void(0)">2</a></li>
                                                <li><a href="javascript:void(0)">3</a></li>
                                                <li><a href="javascript:void(0)">4</a></li>
                                                <li><a href="javascript:void(0)">5</a></li>
                                                <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Shop Left Sidebar Area End Here -->
        <div class="frequently-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="frequently-content">
                            <div class="frequently-desc">
                                <h3>Find frequently asked questions here</h3>
                                <p style="font-size: 17px">Contact us anytime through our toll free number, <span style="font-size: 16px;color: black">1-833-583-2590.</span></p>
                            </div>
                        </div>
                        <!-- Begin Frequently Accordin -->
                        <div class="frequently-accordion">
                            <div id="accordion">
                                <div class="card actives">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{city_details.faq_q_1}}
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                           {{city_details.faq_ans_1}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                {{city_details.faq_q_2}}
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            {{city_details.faq_ans_2}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                {{city_details.faq_q_3}}
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                           {{city_details.faq_ans_3}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Frequently Accordin End Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>


  {% endblock %}