{% extends 'base.html' %}
{% block title%}
    Quick Used Auto Parts in USA - From Salvage & Junkyard, Online | QUAP
{% endblock title %}
{% block desc %}
    <meta name="description" content="QUAP helps you order quality auto parts and accessories online, in USA at your doorstep Get access to 20 Million used auto parts and advice from experts.">
{% endblock desc%}
{% block main %}
{% load static %}
<!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Find a Quick Quote Here</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">{{part}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
<center style="margin-top:50px;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li style="color: green;font-size: 24px;font-style: italic"{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</center>

<div class="main-wrapper">
        <!-- Begin Uren's Login Register Area -->
        <div class="uren-login-register_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6" id="Form">
                        <!-- Login Form s-->
                        <form action="/get-instant-quote" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="login-form">
                                <h2 style="font-size: 30px">Select Make, Model & Part </h2>
                                <p>Get Instant Quote</p>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <label>Year</label>
                                        <select name="year" id="" class="form-control">
                                            {% for ye in all_years %}
                                            <option value="{{ye.year_name}}">{{ye.year_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>Part</label>
                                        <select name="part" id="" class="form-control">
                                            {% for part in parts %}
                                            <option value="{{part.product_name}}" class="form-control">{{part.product_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-12" style="margin-bottom:20px">
                                        <label>Brand</label>
                                        <select name="brand" id="" class="form-control">
                                            {% for brand in brands %}
                                            <option value="{{brand.brand_name}}" class="form-control">{{brand.brand_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <label><b>Name *</b></label>
                                        <input type="text" name="customer_name" class="form-control" required>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <label><b>Phone Number *</b></label>
                                        <input type="tel" name="customer_phone" class="form-control" required>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>Email Address</label>
                                        <input type="email" name="customer_email" class="form-control" required>
                                    </div>

                                    <div class="col-md-12">
                                        <button class="uren-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                            <div class="banner-item img-hover_effect">
                                <div class="banner-img-1"></div>
                                <div class="banner-content" style="padding-top:10%">
                                    <div>
                                        <h3>How it works? </h3>
                                        <div class="row order_steps" style="margin-top:3%;margin-bottom:5%">
                                            <div class="col-lg-3">
                                                <h6 style="color:white;font-size:22px">Step 1</h6>
                                                <i class="fas fa-arrow-circle-right"></i>
                                                <p>Fill the Form. Make sure you fill in the right contact information.</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 style="color:white;font-size:22px">Step 2</h6>
                                                <i class="fas fa-arrow-circle-right"></i>
                                                <p>We will contact you as soon as possible with a part & a quote</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6 style="color:white;font-size:22px">Step 3</h6>
                                                <i class="fas fa-arrow-circle-right"></i>
                                                <p>The part will be delivered to your doorstep.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <p style="color: black;line-height: 35px;text-align: justify;font-size: 16px">Our sales team will be more than happy to place an order any time. Contact us on this toll free number <span><a
                                            href="tel:18335832590" style="color: #e64021;font-size: 20px;font-weight: 600;">1-833-583-2590</a></span>, today!</p>
                                </div>
                            </div>

                    </div>

                </div>
            </div>
        </div>
            <!-- Begin Uren's Frequently Area -->
        <div class="frequently-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 faq">
                        <div class="frequently-content">
                            <div class="frequently-desc">
                                <h3>Find frequently asked questions here</h3>
                                <p style="font-size: 17px">Contact us anytime through our toll free number, <span style="font-size: 16px;color: black">1-833-583-2590.</span></p>
                            </div>
                        </div>
                        <!-- Begin Frequently Accordin -->
                        <div class="frequently-accordion">
                            <div id="accordion">
                                <div class="card actives">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                               What services do QUAP offer?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            We deliver certified OEM-used auto parts, all over the US. We, at QUAP, ensure that we test each part before dispatch. These used auto parts are sourced from salvage & junkyards, all over the US.  Contact us on our toll-free number, 1-833-583-2590, for any assistance or expert opinion.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Which places do you service?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                           QUAP delivers all over the US. We provide the same services for people living in remote as well as urban places. Our wide network of auto salvage yards brings you a range of parts like never before.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Do you promote any specific junkyards or dealers?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            No. QUAP firmly believes in delivering only the best quality parts to your doorstep. Thus, we source the used auto parts for the junkyard or salvage yard that has the best part.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                What types of used auto parts do you sell?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            We sell a long list of used auto parts online including, radiator, transmission, wheels, turbos, etc. We can even find you used parts like lithium-ion batteries and carbon-fiber parts. Request and you will have it.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                How long will you take to find the part?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                        <div class="card-body">
                                            On average, our team of experts will take 4-7 days to find the part. If we can find the exact used auto part in a salvage yard near you, it will take less time. It does not include the shipping time.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                What is your warranty policy?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                        <div class="card-body">
                                            We have a warranty policy of 90 days. You can return or exchange the product within 90 days after the delivery. In the case of an exchange of a used auto part, there might be a price difference.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingSeven">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                Do you sell new auto parts?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                        <div class="card-body">
                                                Sorry, we don’t. Used auto parts are both affordable and environmentally friendly. QUAP provides a genuine alternative to people who cannot either afford or find the exact auto part. Reusing and recycling will reduce wastage to a great extent.
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="headingEight">
                                        <h5 class="mb-0">
                                            <a href="javascript:void(0)" class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                Do you provide used auto parts for trucks?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                                        <div class="card-body">
                                           Yes, of course. At QUAP, we provide used auto parts for cars, trucks, SUVs, CUVs, sedans, and pick-up trucks.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Frequently Accordin End Here -->
                    </div>
                </div>
            </div>
        </div>
</div>




{% endblock %}