{% extends 'base.html' %}
{% block title%}
    Quick Used Auto Parts in USA - From Salvage & Junkyard, Online | QUAP
{% endblock title %}
{% block desc %}
    <meta name="description" content="QUAP helps you order quality auto parts and accessories online, in USA at your doorstep Get access to 20 Million used auto parts and advice from experts.">
{% endblock desc%}
{% block main %}
{% load static %}

<div class="main-wrapper">
        <!-- Begin Popular Search Area -->
        <div class="popular-search_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="popular-search">
                            <label>Popular Search:</label>
                            <a href="javascript:void(0)">Brakes & Rotors,</a>
                            <a href="javascript:void(0)">Lighting,</a>
                            <a href="javascript:void(0)">Performance,</a>
                            <a href="javascript:void(0)">Wheels & Tires</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin Uren's Login Register Area -->
        <div class="uren-login-register_area">
            <div class="container-fluid">
                <div class="section-title_area">
                    <span>Quick Used Auto Parts</span>
                    <h3>Find a Quick Quote Here</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                            <div class="banner-item img-hover_effect">
                                <div class="banner-img-1"></div>
                                <div class="banner-content" style="padding-top:15%">
                                    <h4 style="color:#e64021">AFFORDABLE USED AUTO PARTS AT YOUR DOORSTEP</h4>
                                    <br>
                                    <h4>Experience with convenience</h4>
                                    <h3>Choose High Quality used OEM Parts</h3>
                                    <br>
                                    <p style="color: black;line-height: 35px;text-align: justify;font-size: 16px">
                                        Dive into the world of used auto parts for your trucks, SUVs, CUVs, and Sedans from the comfort of your homes. Find the best deals, NOW!<br>
                                        Search and place an order here! We’ll contact you immediately with the best deals from junkyards near you. We deliver used automobile parts all over the US.
                                        <br>
                                        What are you waiting for? Why waste money on a new part when you can get premium-quality used parts for much less! That too, with a 90-day warranty!
                                        <br>
                                        Our sales team will be more than happy to place an order any time. Contact us on this toll free number 1-833-583-2590, today!</p>
                                </div>
                            </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                        <!-- Login Form s-->
                        <form action="/get-instant-quote" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="login-form">
                                <h2>Find A Part Now</h2>
                                <p>Get Instant Quote</p>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <label>Year</label>
                                        <select name="year" id="" class="form-control">
                                            {% for ye in all_years %}
                                            <option value="{{ye.year_name}}">{{ye.year_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>Part</label>
                                        <select name="part" id="" class="form-control">
                                            {% for part in parts %}
                                            <option value="{{part.product_name}}" class="form-control">{{part.product_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-12" style="margin-bottom:20px">
                                        <label>Brand</label>
                                        <select name="brand" id="" class="form-control">
                                            {% for brand in brands %}
                                            <option value="{{brand.brand_name}}" class="form-control">{{brand.brand_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <label><b>Name *</b></label>
                                        <input type="text" name="customer_name" class="form-control" required>
                                    </div>
                                    <div class="col-md-6 col-6">
                                        <label><b>Phone Number *</b></label>
                                        <input type="tel" name="customer_phone" class="form-control" required>
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <label>Email Address</label>
                                        <input type="email" name="customer_email" class="form-control" required>
                                    </div>

                                    <div class="col-md-12">
                                        <button class="uren-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
            <!-- Begin Uren's Frequently Area -->
</div>




{% endblock %}