{% extends 'base.html' %}
{% block main %}
{% load static %}

    <div class="main-wrapper">
        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Used Auto Parts</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active">Products</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <div class="container-fluid">
            <center>
                {% for m in messages %}
                <p style="margin-top: 50px;color: #e52e06;font-weight: 600;">{{m}}</p>
                {% endfor %}
            </center>
        </div>

        <!-- Begin Uren's Shop Left Sidebar Area -->
        <div class="shop-content_wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
                        <div class="uren-sidebar-catagories_area">
                            <div class="uren-sidebar_categories">
                                <div class="uren-categories_title">
                                    <h5>Manufacturers</h5>
                                </div>
                                <ul class="sidebar-checkbox_list">
                                    {% for brand in brands %}
                                    <li><a href="#">{{brand.brand_name}}<span></span></a></li>
                                    {% endfor %}
                                </ul>
                                <div style="padding: 10px;">
                                    <p><a href="" style="color:Red;float:right">View All Brands</a></p>
                                </div>
                            </div>

                            <div class="uren-sidebar_categories">
                                <div class="uren-categories_title">
                                    <h5>Popular Car Parts</h5>
                                </div>
                                <ul class="sidebar-checkbox_list">
                                    {% for p in side_products %}
                                    <li><a href="#">{{p.product_name}}<span></span></a></li>
                                    {% endfor %}
                                </ul>
                                <div style="padding: 10px;">
                                    <p><a href="" style="color:Red;float:right">View All Products</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
                        <div class="shop-product-wrap grid gridview-3 img-hover-effect_area row">
                            {% for p in products %}
                            <div class="col-lg-4">
                                <div class="product-slide_item">
                                    <div class="inner-slide">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="/used-auto-parts-us/{{p.product_name|slugify}}">
                                                    <img class="primary-img" src="{{p.product_image.url}}" alt="Uren's Product Image" style="width: 100%; height: 200px">
                                                    <img class="secondary-img" src="{{p.product_image.url}}" alt="Uren's Product Image" style="width: 100%; height: 200px">
                                                </a>
                                                <div class="sticker">
                                                    <span class="sticker">New</span>
                                                </div>
                                                <div class="add-actions">
                                                    <a href="/used-auto-parts-us/{{p.product_name|slugify}}" style="background: #e52e06;padding: 5px 10px;color: #fafbfd;">Get Quote</a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <h6><a class="product-name" href="/used-auto-parts-us/{{p.product_name|slugify}}">{{p.product_name}}</a></h6>
                                                    <div class="price-box">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Shop Left Sidebar Area End Here -->

    </div>

  {% endblock %}