{% extends 'base.html' %}
{% block title%}
Quick Used Auto Parts in {{state}} - From Salvage & Junkyard | QUAP
{% endblock title %}
{% block main %}
{% load static %}


        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Browse Cities</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Used Auto Parts</li>
                        <li class="active">{{state}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <div class="container-fluid" style="margin-top:3%">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1 class="main_h1 text-center">Used Auto Parts in {{state}}</h1>
                    </div>
                    <div>
                        <p style="color: black;font-size: 18px;text-align: justify">QUAP brings you the finest used auto parts in Texas from salvage yards in Texas and all over the US. We ensure that you don’t burn a hole in your pocket when you buy our certified OEM parts. We bring you the choicest used auto parts for your Ford F150, Nissan Altima, Toyota Camry, Chevrolet Silverado, and more! And guess what! We test and certify these parts before dispatch. We deliver to every nook and corner of Texas and all over the US. You also get 90 days from the day of delivery to decide whether the part suits your needs. Our customer services and technical help are available to all of Texas. Order now!</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Begin Uren's Blog Left Sidebar Area -->

            <div class="container" style="padding-top:50px;padding-bottom:100px">
                <div class="row">
                    <div class="col-lg-12 order-lg-2 order-1">
                        <div class="row">
                            {% for city in cities %}
                            <div class="col-lg-2">
                                <p><a href="/Used-Auto-Parts/{{state}}/{{city.county_or_city}}" class="cities_a">{{city.county_or_city}}</a></p>
                            </div>
                            {% endfor %}
                        </div>

                        <!--------
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="uren-paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="uren-pagination-box carlet-color">
                                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                                <li><a href="javascript:void(0)">2</a></li>
                                                <li><a href="javascript:void(0)">3</a></li>
                                                <li><a href="javascript:void(0)">4</a></li>
                                                <li><a href="javascript:void(0)">5</a></li>
                                                <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>

        <!-- Uren's Blog Left Sidebar Area End Here -->

{% endblock %}