{% extends 'base.html '%}
{% block main %}
{% load static %}


        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Store Locator</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Store Locator</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

        <!-- Begin Uren's Blog Left Sidebar Area -->
        <div class="uren-blog_area grid-view_area blog-with_sidebar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2">
                        <div class="uren-blog-sidebar-wrapper">
                            <div class="uren-blog-sidebar">
                                <h4 class="uren-blog-sidebar-title">Search Stores</h4>
                                <div class="search-form_area">
                                    <form class="search-form" action="javascript:void(0)">
                                        <input type="text" class="search-field" placeholder="search here">
                                        <button type="submit" class="search-btn"><i class="ion-ios-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="uren-blog-sidebar">
                                <h4 class="uren-blog-sidebar-title">Quick Search</h4>
                                <ul class="uren-tags_list">
                                    <li><a href="javascript:void(0)">CA</a></li>
                                    <li><a href="javascript:void(0)">NY</a></li>
                                    <li><a href="javascript:void(0)">TX</a></li>
                                    <li><a href="javascript:void(0)">WA</a></li>
                                    <li><a href="javascript:void(0)">PA</a></li>
                                    <li><a href="javascript:void(0)">TN</a></li>
                                    <li><a href="javascript:void(0)">FL</a></li>
                                    <li><a href="javascript:void(0)">CO</a></li>
                                    <li><a href="javascript:void(0)">AR</a></li>
                                    <li><a href="javascript:void(0)">AZ</a></li>
                                </ul>
                            </div>
                            <div class="uren-blog-sidebar">
                                <h4 class="uren-blog-sidebar-title">Popular Stores</h4>

                                <div class="recent-post">
                                    <div class="recent-post_thumb">
                                        <a href="blog-details-left-sidebar.html">
                                            <img class="img-full" src="{% static 'assets/images/stores/1.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                    </div>
                                    <div class="recent-post_desc">
                                        <span><a href="blog-details-left-sidebar.html">Store Name</a></span>
                                        <span class="post-date">CA, 12345</span>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="recent-post_thumb">
                                        <a href="blog-details-left-sidebar.html">
                                            <img class="img-full" src="{% static 'assets/images/stores/1.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                    </div>
                                    <div class="recent-post_desc">
                                        <span><a href="blog-details-left-sidebar.html">Store Name</a></span>
                                        <span class="post-date">CA, 12345</span>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="recent-post_thumb">
                                        <a href="blog-details-left-sidebar.html">
                                            <img class="img-full" src="{% static 'assets/images/stores/1.jpg' %}" alt="Uren's Blog Image">
                                        </a>
                                    </div>
                                    <div class="recent-post_desc">
                                        <span><a href="blog-details-left-sidebar.html">Store Name</a></span>
                                        <span class="post-date">CA, 12345</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1">
                        <div class="row blog-item_wrap">
                            <div class="col-xl-4 col-lg-6">

                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="blog-item">
                                    <div class="blog-img img-hover_effect">
                                        <a href="blog-details-left-sidebar.html">
                                            <img src="{% static 'assets/images/stores/1.jpg' %}" alt="Uren's Blog Image">
                                        </a>

                                    </div>
                                    <div class="blog-content">
                                        <h3><a href="blog-details-left-sidebar.html">QUAP Store No - 1</a></h3>
                                        <p>St Address</p>
                                        <p>ST, 12345</p>
                                        <div class="uren-btn-ps_left">
                                            <a class="uren-btn-2" href="blog-details-left-sidebar.html">View Parts</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">

                            </div>
                        </div>
                        <!--------
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="uren-paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="uren-pagination-box carlet-color">
                                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                                <li><a href="javascript:void(0)">2</a></li>
                                                <li><a href="javascript:void(0)">3</a></li>
                                                <li><a href="javascript:void(0)">4</a></li>
                                                <li><a href="javascript:void(0)">5</a></li>
                                                <li><a class="Next" href="javascript:void(0)">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Blog Left Sidebar Area End Here -->

{% endblock %}