{% extends 'base.html' %}
{% block main %}
{% load static %}


        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Store Locator</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/states">All States</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

        <!-- Begin Uren's Blog Left Sidebar Area -->
        <div class="uren-blog_area grid-view_area blog-with_sidebar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 order-lg-2 order-1">
                        <h2 class="text-center" style="margin-bottom:20px;">BROWSE LOCATIONS BY STATE</h2>
                        <div class="row" style="padding:10px">
                            <center>
                            <ul class="nav justify-content-center">
                              {% for loc in locations %}
                                <li class="nav nav-fill">
                                    <a class="nav-link shadow" aria-current="page" href="/used-auto-parts/{{loc|slugify}}">{{loc}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Uren's Blog Left Sidebar Area End Here -->

{% endblock %}