{% extends 'base.html' %}
{% block title%}
    Quick Used Auto Parts in USA - From Salvage & Junkyard, Online | QUAP
{% endblock title %}
{% block desc %}
    <meta name="description" content="QUAP delivers millions of used auto parts and accessories for cars and trucks in USA. We offer affordable used auto parts in USA starting at $100.">
{% endblock desc%}
{% block main %}
{% load static %}
<!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Order Details</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Order Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->

<div class="main-wrapper" style="margin-bottom:50px;">
    <div class="featured-categories_area">
            <div class="container">
                <div class="section-title_area">
                    <h1 style="font-size: 24px;color: #e52e06;">Thank you for placing a request!</h1>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <p>You will be receiving a confirmation email shortly, regarding the status of your order!</p>
                            <p>Please don’t hesitate to give us a call on our toll-free number, 1-833-583-2590, in case of any queries or troubles.</p>
                            <p>Wishing you a wonderful day ahead!</p>
                            <div style="margin:50px 10px">
                                <h4>ORDER SUMMARY</h4>
                                <br>
                                <table class="table table-hover" style="max-width: 50%;">
                                    <tr>
                                        <td>Manuf. Year</td>
                                        <td>{{year}}</td>
                                    </tr>
                                    <tr>
                                        <td>Part Name</td>
                                        <td>{{part}}</td>
                                    </tr>
                                    <tr>
                                        <td>Brand Name</td>
                                        <td>{{brand}}</td>
                                    </tr>
                                </table>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
</div>




{% endblock %}